version: "3"

services:
  s1:
    image: nginx
    ports:
      - "4142:80"
    # volumes:
    #   - ./web/nginx.conf:/etc/nginx/nginx.conf:ro
    command: [nginx-debug, "-g", "daemon off;"]
    environment:
      - NGINX_HOST=foobar.com
      - NGINX_PORT=80
  web:
    image: nginx
    ports:
      - "4141:80"
    # volumes:
    #   - ./web/nginx.conf:/etc/nginx/nginx.conf:ro
    command: [nginx-debug, "-g", "daemon off;"]
    environment:
      - NGINX_HOST=foobar.com
      - NGINX_PORT=80
